
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.frame-20-mMf {
  flex-direction: column;
  background-color: #0e1015;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .auto-group-g4pv-9d7 {
    margin-bottom: 19.1rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-x89t-tcd {
      margin-right: 81.9rem;
      height: 69rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:34e4b2a1fcdd0b3db27240dc2ef1ac59b28f43bb');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 77.3rem 0rem 46.3rem;
      width: 137rem;
      background-size: 100% 100%;

      .rectangle-51-5SD {
        background-color: #000000;
        width: 100%;
        height: 0.8rem;
      }
    }
    .auto-group-ynbx-Gmb {
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 3.1rem;
      width: 136.6rem;
      align-items: center;
      display: flex;

      .auto-group-b2lu-kgm {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 16.1rem 1.6rem 15.3rem;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-3ru5-SJh {
          margin-bottom: 3.1rem;
          width: 100%;
          height: 3.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-zqzd-job {
            box-sizing: border-box;
            padding: 0.2rem 1.4rem 0.1rem 0rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-4-Szq {
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.2rem 0.9rem 0rem 0rem;
              width: 2.7rem;
            }
            .syncro-6pV {
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.1875;
              color: #ffffff;
              font-family: Poller One, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 54.4rem 0rem 0rem;
            }
            .auto-group-eksy-hpH {
              display: flex;
              border: solid 0.1rem rgba(255, 255, 255, 0.0599999987);
              background-color: #1b1d23;
              box-sizing: border-box;
              padding: 0.6rem 20.2rem 0.7rem 1.4rem;
              align-items: center;
              backdrop-filter: blur(0.2rem);
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin-bottom: 0.1rem;

              .vector-Mdw {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.7rem;
                width: 0.9rem;
                height: 0.9rem;
                object-fit: contain;
              }
              .search-FDX {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #797c83;
              }
            }
          }
          .group-17-tfo {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            align-items: center;
            padding: 0.6rem 1.3rem 0.5rem 1.426rem;
            height: 100%;
            display: flex;
            background: linear-gradient(180deg, #272a30 0%, rgba(39, 42, 48, 0) 100%);
            border-radius: 0.4rem;
            box-sizing: border-box;

            .profile-CAh {
              flex-shrink: 0;
              margin: 0rem 0.926rem 0.201rem 0rem;
              width: 1.2476rem;
              height: 1.2487rem;
              object-fit: contain;
              vertical-align: top;
            }
            .sign-in-4yb {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898d94;
            }
          }
        }
        .auto-group-c3kb-SDT {
          margin-right: 47.1rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .dashboard-YXP {
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.7rem 0rem 0rem;
            font-size: 1.2rem;
          }
          .tracker-TeM {
            flex-shrink: 0;
            margin: 0.1rem 3.7rem 0rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .leaderboards-ZxH {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .calender-umF {
            margin-right: 3.9rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .collaborators-rAh {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .auto-group-hhnm-PAd {
        padding: 4.8rem 20.9rem 6.2rem 16.1rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #07090e;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        box-sizing: border-box;

        .auto-group-hdyw-hBK {
          margin: 0rem 2.4rem 2.1rem 0rem;
          width: 50.2rem;
          flex-shrink: 0;

          .rectangle-178-Rd7 {
            width: 15.6rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.4rem;
            margin-left: 3.6rem;
          }
          .auto-group-fugz-Yxd {
            padding: 2.2rem 15.2rem 2.2rem 2.4rem;
            width: 100%;
            height: 25.3rem;
            display: flex;
            align-items: center;
            background-color: #191a21;
            border-radius: 0.4rem;
            box-sizing: border-box;

            .ellipse-151-F6M {
              border: solid 0.1rem #efccf4;
              box-sizing: border-box;
              border-radius: 9rem;
              flex-shrink: 0;
              margin: 0rem 2.8rem 2.9rem 0rem;
              width: 18rem;
              height: 18rem;
            }
            .auto-group-sd6m-M9P {
              flex-shrink: 0;
              margin: 5.8rem 0rem 6.9rem 0rem;
              width: 11.8rem;
              height: calc(100% - 12.7rem);
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-y17k-43o {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 1rem;
                width: 100%;

                .user-Cfo {
                  flex-shrink: 0;
                  font-weight: 700;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  letter-spacing: -0.024rem;
                  white-space: nowrap;
                  margin-bottom: 0.2rem;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                }
                .status-KkR {
                  font-size: 0.7rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  letter-spacing: -0.007rem;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .auto-group-ffjm-G9s {
                height: 3.1rem;
                white-space: nowrap;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                background-color: rgba(40, 42, 48, 0.8999999762);
                width: 100%;
                font-size: 1.2rem;
                align-items: center;
                border-radius: 0.4rem;
                flex-shrink: 0;
                font-weight: 700;
                line-height: 1.2125;
                justify-content: center;
              }
            }
          }
        }
        .auto-group-69mw-vER {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4.9rem 0rem 0rem;
          width: 12.7rem;

          .group-11-eAR {
            padding: 3.5rem 4.309rem 1.714rem 3.759rem;
            width: 100%;
            align-items: center;
            flex-direction: column;
            margin-bottom: 3.8rem;
            box-sizing: border-box;
            border-radius: 0.4rem;
            flex-shrink: 0;
            display: flex;
            background-color: #1c171d;

            .ellipse-146-ZYH {
              margin: 0rem 0rem 1.595rem 0.541rem;
              background-repeat: no-repeat;
              border-radius: 2.0456rem;
              flex-shrink: 0;
              width: 4.0913rem;
              height: 4.0913rem;
              background-size: 100% 100%;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
            }
            .badges-e3w {
              flex-shrink: 0;
              margin-right: 0.032rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .group-19-ZAu {
            width: 100%;
            align-items: center;
            background-color: #1c171d;
            border-radius: 0.4rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 3.5rem 4.309rem 1.714rem 3.759rem;
            display: flex;
            flex-direction: column;

            .ellipse-146-UYm {
              margin: 0rem 0rem 1.595rem 0.541rem;
              border-radius: 2.0456rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
              flex-shrink: 0;
              width: 4.0913rem;
              height: 4.0913rem;
            }
            .badges-bNV {
              flex-shrink: 0;
              margin-right: 0.032rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-4ram-uty {
          width: 12.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4rem 0rem 0rem;

          .group-18-3VP {
            margin-bottom: 3.8rem;
            width: 100%;
            height: 12.7rem;
            position: relative;
            background-color: #1c171d;
            border-radius: 0.4rem;
            flex-shrink: 0;

            .bigginer-BrV {
              font-family: Poppins, 'Source Sans Pro';
              position: absolute;
              font-size: 1.2rem;
              font-weight: 500;
              top: 9.1861rem;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
              width: 5.5rem;
              height: 1.8rem;
              left: 3.7593rem;
            }
            .ellipse-146-V6V {
              height: 4.0913rem;
              position: absolute;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
              width: 4.0913rem;
              left: 4.3rem;
              top: 3.5rem;
              background-position: center;
              border-radius: 2.0456rem;
            }
            .group-11-nbP {
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              top: 0;
              align-items: center;
              position: absolute;
              left: 0;
              background-color: #1c171d;
              border-radius: 0.4rem;
              padding: 3.5rem 4.309rem 1.714rem 3.759rem;
              width: 12.7rem;
              height: 12.7rem;

              .ellipse-146-JJq {
                margin: 0rem 0rem 1.595rem 0.541rem;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
                width: 4.0913rem;
                height: 4.0913rem;
                background-position: center;
                border-radius: 2.0456rem;
                flex-shrink: 0;
              }
              .badges-Qcm {
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.032rem;
                font-size: 1.2rem;
                font-weight: 500;
              }
            }
          }
          .group-20-7n5 {
            box-sizing: border-box;
            padding: 3.5rem 4.309rem 1.714rem 3.759rem;
            width: 100%;
            border-radius: 0.4rem;
            flex-shrink: 0;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #1c171d;

            .ellipse-146-FNV {
              margin: 0rem 0rem 1.595rem 0.541rem;
              height: 4.0913rem;
              background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
              width: 4.0913rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 2.0456rem;
              flex-shrink: 0;
            }
            .badges-NCD {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.032rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .auto-group-ehcz-V1w {
          margin-top: 1.4rem;
          width: 12.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-21-q5o {
            align-items: center;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            background-color: #1c171d;
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-bottom: 3.8rem;
            padding: 3.5rem 4.309rem 1.714rem 3.759rem;

            .ellipse-146-Mpq {
              background-position: center;
              border-radius: 2.0456rem;
              height: 4.0913rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
              flex-shrink: 0;
              margin: 0rem 0rem 1.595rem 0.541rem;
              width: 4.0913rem;
            }
            .badges-SbP {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.032rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-22-MTT {
            align-items: center;
            background-color: #1c171d;
            box-sizing: border-box;
            padding: 3.5rem 4.309rem 1.714rem 3.759rem;
            flex-direction: column;
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .ellipse-146-h1X {
              background-repeat: no-repeat;
              border-radius: 2.0456rem;
              flex-shrink: 0;
              width: 4.0913rem;
              height: 4.0913rem;
              background-size: 100% 100%;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
              margin: 0rem 0rem 1.595rem 0.541rem;
            }
            .badges-1Y1 {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.032rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
        }
      }
      .auto-group-mbyh-WUm {
        align-items: center;
        flex-shrink: 0;
        margin: 0 16.4rem;
        width: calc(100% - 32.8rem);
        height: 39rem;
        display: flex;

        .auto-group-aix5-StD {
          width: 50.2rem;
          height: 100%;
          box-sizing: border-box;
          background-color: rgba(19, 21, 27, 0.200000003);
          flex-shrink: 0;
          margin-right: 2.4rem;
          position: relative;
          border: solid 0.04rem rgba(249, 249, 249, 0.200000003);
          border-radius: 1.2rem;

          .today-ApD {
            color: #ffffff;
            white-space: nowrap;
            width: 5.4rem;
            height: 2.2rem;
            left: 3.9rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            top: 1.2rem;
            font-size: 1.8rem;
            line-height: 1.2125;
          }
          .set-daily-goals-gXf {
            height: 1.5rem;
            position: absolute;
            color: #5f6168;
            white-space: nowrap;
            width: 8.4rem;
            top: 4rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            left: 3.9rem;
          }
          .auto-group-nmos-zoF {
            width: 50rem;
            height: 4rem;
            left: 0.1rem;
            align-items: center;
            background-color: #181a20;
            box-sizing: border-box;
            padding: 1.3rem 6.7rem 1rem 4rem;
            position: absolute;
            top: 8rem;
            display: flex;

            .tasks-JJ9 {
              flex-shrink: 0;
              margin-right: 16.3rem;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .done-ESh {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 10.9rem 0.2rem 0rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #717378;
            }
            .deadline-MnD {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #717378;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-2tz3-5y7 {
            left: 0.1rem;
            font-weight: 700;
            align-items: center;
            height: 3.5rem;
            top: 35.5rem;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            background-color: #181a20;
            width: 50rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #ffffff;
            white-space: nowrap;
            justify-content: center;
            border-radius: 0 0 1.2rem 1.2rem;
            position: absolute;
          }
          .tasktabdivider0-9i5 {
            left: 1.2rem;
            top: 17.1rem;
            background-color: rgba(24, 26, 32, 0.8000000119);
            opacity: 0.8;
            width: 45.3rem;
            height: 0.1rem;
            position: absolute;
          }
          .tasktabdivider1-Gnh {
            top: 23.2rem;
            background-color: rgba(24, 26, 32, 0.8000000119);
            opacity: 0.8;
            width: 45.3rem;
            height: 0.1rem;
            position: absolute;
            left: 1.2rem;
          }
          .auto-group-8eub-ba5 {
            width: 45.9rem;
            height: 0.1rem;
            position: absolute;
            left: 1.2rem;
            top: 29.3rem;

            .tasktabdivider2-8pu {
              position: absolute;
              left: 0.6rem;
              top: 0;
              background-color: rgba(24, 26, 32, 0.8000000119);
              opacity: 0.8;
              width: 45.3rem;
              height: 0.1rem;
            }
            .tasktabdivider3-eYM {
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(24, 26, 32, 0.8000000119);
              opacity: 0.8;
              width: 45.3rem;
              height: 0.1rem;
            }
          }
          .tasktabdivider4-yad {
            top: 35.4rem;
            background-color: rgba(24, 26, 32, 0.8000000119);
            opacity: 0.8;
            width: 45.3rem;
            height: 0.1rem;
            position: absolute;
            left: 1.8rem;
          }
          .auto-group-paof-JN1 {
            display: flex;
            align-items: flex-end;
            width: 34.3rem;
            height: 1.6rem;
            position: absolute;
            left: 7.8rem;
            top: 31.6rem;

            .task4-q73 {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 13.5rem 0.1rem 0rem;
            }
            .item-346-kjo {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.4rem;
              font-size: 1.2rem;
            }
            .item-252-Uvh {
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
            }
          }
          .auto-group-jml1-D7b {
            left: 7.8rem;
            top: 25.6rem;
            display: flex;
            align-items: flex-end;
            width: 34.3rem;
            height: 1.6rem;
            position: absolute;

            .task3-iq3 {
              flex-shrink: 0;
              margin: 0rem 13.4rem 0.1rem 0rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-36-T1w {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 12.2rem;
            }
            .item-414-PAV {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-wu2u-vRK {
            position: absolute;
            left: 7.8rem;
            top: 19.4rem;
            display: flex;
            align-items: flex-end;
            width: 34.2rem;
            height: 1.7rem;

            .task2-41j {
              flex-shrink: 0;
              margin: 0rem 13.5rem 0.2rem 0rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-13-BMF {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 12.7rem;
              font-size: 1.2rem;
            }
            .item-134-7Eu {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
          .auto-group-m42h-3eM {
            display: flex;
            align-items: flex-start;
            width: 34.2rem;
            height: 1.8rem;
            position: absolute;
            left: 7.8rem;
            top: 13.8rem;

            .task1-Zsb {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.6rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
            }
            .item-23-K65 {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 12.4rem;
              font-size: 1.2rem;
            }
            .item-234-SgV {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-pot3-8JR {
          display: flex;
          flex-direction: column;
          border: solid 0.04rem rgba(255, 255, 255, 0.200000003);
          box-sizing: border-box;
          background-color: rgba(19, 21, 27, 0.200000003);
          width: 51.2rem;
          height: 100%;
          align-items: center;
          border-radius: 1.2rem;
          flex-shrink: 0;

          .auto-group-vdcy-f3T {
            padding: 1.2rem 0rem 1rem 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .collaborations-ZuX {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.6rem 2.8rem;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
            }
            .communities-you-are-part-of--6Y5 {
              margin: 0rem 0rem 2.6rem 2.8rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #5f6168;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .rectangle-261-DMo {
              margin-bottom: 1.5rem;
              opacity: 0.8;
              width: 50.2rem;
              height: 0.1rem;
              background-color: rgba(24, 26, 32, 0.8000000119);
              flex-shrink: 0;
            }
            .auto-group-zqds-MD7 {
              height: 6.5rem;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              margin: 0rem 0rem 1.9rem 2.8rem;

              .collabthumbnail1-sx9 {
                object-fit: cover;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 9.9rem;
                height: 6.1rem;
              }
              .auto-group-3vrr-1YZ {
                width: 5.7rem;
                height: 100%;
                flex-shrink: 0;

                .college-km3 {
                  margin-bottom: 2.6rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.4462216695;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .auto-group-edqx-6K7 {
                  border-radius: 0.2rem;
                  box-sizing: border-box;
                  padding: 0.2rem 0.5rem 0.2rem 0.7rem;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  background-color: rgba(39, 42, 48, 0.200000003);

                  .rectangle-299-R6V {
                    width: 1.1rem;
                    height: 1.1rem;
                    background-image: url('REPLACE_IMAGE:76d7eed04a5e79f0a066cf36f9d29a7576162ba5');
                    border-radius: 1.2rem;
                    flex-shrink: 0;
                    margin-right: 0.7rem;
                    position: relative;
                    background-size: 100% 155%;
                    background-position: 0 -0.0177rem;
                  }
                  .nd-JAH {
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #5f6168;
                  }
                }
              }
              .auto-group-fzh7-PxR {
                box-sizing: border-box;
                padding: 4.4rem 0rem 0rem 0.3rem;
                height: 100%;
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;

                .auto-group-g7ad-Xoj {
                  background-color: rgba(39, 42, 48, 0.200000003);
                  flex-shrink: 0;
                  margin-right: 0.3rem;
                  font-size: 1.4rem;
                  white-space: nowrap;
                  display: flex;
                  height: 100%;
                  color: #5f6168;
                  font-family: Inter, 'Source Sans Pro';
                  justify-content: center;
                  font-weight: 600;
                  width: 7.2rem;
                  line-height: 1.2125;
                  align-items: center;
                  border-radius: 0.2rem;
                }
                .auto-group-gqc1-BdP {
                  background-color: rgba(39, 42, 48, 0.200000003);
                  border-radius: 0.2rem;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.2rem 0.8rem 0.2rem 1rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .ellipse-157-tXo {
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: #ff2929;
                    border-radius: 0.25rem;
                    flex-shrink: 0;
                    margin: 0.2rem 0.7rem 0rem 0rem;
                  }
                  .pro-PzM {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #5f6168;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
              }
            }
            .rectangle-262-5sB {
              width: 50.2rem;
              height: 0.1rem;
              background-color: rgba(24, 26, 32, 0.8000000119);
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              opacity: 0.8;
            }
            .auto-group-utto-QuT {
              margin: 0rem 0rem 2.2rem 2.8rem;
              height: 6.2rem;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .collabthumbnail2-jRw {
                width: 9.9rem;
                height: 6.1rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                margin: 0rem 1rem 0.1rem 0rem;
              }
              .auto-group-h4mb-e37 {
                margin-right: 0.4rem;
                width: 12.6rem;
                height: 100%;
                flex-shrink: 0;

                .dsa-BYq {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 2.2rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.3554546038;
                  color: #ffffff;
                }
                .auto-group-qa3w-7xH {
                  width: 100%;
                  height: 2.3rem;
                  position: relative;

                  .rectangle-289-fU1 {
                    left: 7.4rem;
                    top: 0;
                    background-color: rgba(39, 42, 48, 0.200000003);
                    border-radius: 0.2rem;
                    width: 5.2rem;
                    height: 2.3rem;
                    position: absolute;
                  }
                  .rectangle-290-yjb {
                    border-radius: 0.2rem;
                    width: 5.2rem;
                    height: 2.3rem;
                    position: absolute;
                    left: 7.4rem;
                    top: 0;
                    background-color: rgba(39, 42, 48, 0.200000003);
                  }
                  .rectangle-291-hvV {
                    height: 2.3rem;
                    position: absolute;
                    left: 7.4rem;
                    top: 0;
                    background-color: rgba(39, 42, 48, 0.200000003);
                    border-radius: 0.2rem;
                    width: 5.2rem;
                  }
                  .rectangle-292-eKw {
                    left: 7.4rem;
                    top: 0;
                    background-color: rgba(39, 42, 48, 0.200000003);
                    border-radius: 0.2rem;
                    width: 5.2rem;
                    height: 2.3rem;
                    position: absolute;
                  }
                  .rectangle-293-P2d {
                    top: 0;
                    background-color: rgba(39, 42, 48, 0.200000003);
                    border-radius: 0.2rem;
                    width: 5.2rem;
                    height: 2.3rem;
                    position: absolute;
                    left: 7.4rem;
                  }
                  .tags-7jK {
                    width: 3rem;
                    top: 0.3rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    white-space: nowrap;
                    height: 1.7rem;
                    position: absolute;
                    left: 8.4rem;
                    font-size: 1.4rem;
                    color: #5f6168;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .group-14-37B {
                    width: 8.7rem;
                    height: 2.3rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 0.2rem;

                    .rectangle-115-PB3 {
                      width: 7.1rem;
                      height: 2.3rem;
                      position: absolute;
                      left: 0;
                      top: 0;
                      background-color: rgba(39, 42, 48, 0.200000003);
                      border-radius: 0.2rem;
                    }
                    .rectangle-127-ij7 {
                      width: 7.1rem;
                      height: 2.3rem;
                      position: absolute;
                      left: 0;
                      top: 0;
                      background-color: rgba(39, 42, 48, 0.200000003);
                      border-radius: 0.2rem;
                    }
                    .rectangle-130-fPT {
                      width: 7.1rem;
                      height: 2.3rem;
                      position: absolute;
                      left: 0;
                      top: 0;
                      background-color: rgba(39, 42, 48, 0.200000003);
                      border-radius: 0.2rem;
                    }
                    .tags-Q69 {
                      font-weight: 600;
                      line-height: 1.2125;
                      width: 3rem;
                      left: 2.2rem;
                      font-size: 1.4rem;
                      color: #5f6168;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      height: 1.7rem;
                      position: absolute;
                      top: 0.3rem;
                    }
                    .rectangle-300-829 {
                      left: 0.7rem;
                      top: 0.6rem;
                      object-fit: cover;
                      vertical-align: top;
                      border-radius: 1.2rem;
                      width: 1.1rem;
                      height: 1.1rem;
                      position: absolute;
                    }
                  }
                }
              }
              .auto-group-mtsm-3Q1 {
                padding: 0.3rem 0.6rem 0.3rem 0.5rem;
                width: 7.6rem;
                height: 2.3rem;
                background-color: rgba(39, 42, 48, 0.200000003);
                border-radius: 0.2rem;
                flex-shrink: 0;
                box-sizing: border-box;

                .group-15-ZNM {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .ellipse-149-WYV {
                    margin-right: 0.5rem;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: #00ffd1;
                    border-radius: 0.25rem;
                    flex-shrink: 0;
                  }
                  .medium-rMT {
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #5f6168;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .rectangle-263-Yzy {
              margin-bottom: 0.7rem;
              opacity: 0.8;
              width: 50.2rem;
              height: 0.1rem;
              background-color: rgba(24, 26, 32, 0.8000000119);
              flex-shrink: 0;
            }
            .auto-group-dhtr-HxZ {
              margin-left: 2.8rem;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .collabthumbnail3-3B3 {
                width: 9.9rem;
                height: 6.1rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                margin-right: 1rem;
              }
              .auto-group-jprz-aRs {
                width: 11rem;
                flex-shrink: 0;
                margin: 0rem 0.4rem 0.2rem 0rem;

                .full-stack-7Au {
                  font-weight: 700;
                  line-height: 1.3554545811;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  margin: 0rem 0rem 1.9rem 0.3rem;
                  font-size: 1.4rem;
                }
                .auto-group-nt8q-qch {
                  height: 2.5rem;
                  display: flex;
                  align-items: center;
                  width: 100%;

                  .auto-group-whos-PPK {
                    box-sizing: border-box;
                    height: 100%;
                    margin-right: 0.3rem;
                    display: flex;
                    align-items: center;
                    background-color: rgba(39, 42, 48, 0.200000003);
                    border-radius: 0.2rem;
                    flex-shrink: 0;
                    padding: 0.3rem 0.6rem 0.5rem 0.7rem;

                    .rectangle-301-WD3 {
                      flex-shrink: 0;
                      margin-right: 0.1rem;
                      width: 1.1rem;
                      height: 1.1rem;
                      object-fit: cover;
                      vertical-align: top;
                      border-radius: 1.2rem;
                    }
                    .tags-qFK {
                      font-size: 1.4rem;
                      font-weight: 600;
                      line-height: 1.2125;
                      color: #5f6168;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                  .auto-group-k13s-vXf {
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    width: 5.2rem;
                    height: 100%;
                    font-size: 1.4rem;
                    justify-content: center;
                    border-radius: 0.2rem;
                    flex-shrink: 0;
                    font-weight: 600;
                    white-space: nowrap;
                    line-height: 1.2125;
                    color: #5f6168;
                    background-color: rgba(39, 42, 48, 0.200000003);
                  }
                }
              }
              .auto-group-amx3-xjF {
                border-radius: 0.2rem;
                flex-shrink: 0;
                margin-top: 3.6rem;
                box-sizing: border-box;
                padding: 0.4rem 0.9rem;
                display: flex;
                align-items: center;
                background-color: rgba(39, 42, 48, 0.200000003);

                .ellipse-158-t77 {
                  width: 0.5rem;
                  height: 0.5rem;
                  background-color: #0038ff;
                  border-radius: 0.25rem;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                }
                .easy-Qr9 {
                  color: #5f6168;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.2125;
                }
              }
            }
          }
          .auto-group-tjnv-iM3 {
            height: 3.4rem;
            color: #ffffff;
            display: flex;
            width: 100%;
            line-height: 1.2125;
            justify-content: center;
            border-radius: 0 0 1.2rem 1.2rem;
            font-size: 1.4rem;
            font-weight: 700;
            white-space: nowrap;
            text-align: right;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            background-color: #181a20;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-urad-89s {
    height: 31.4rem;
    display: flex;
    align-items: center;
    background-color: #07090e;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.7rem 26rem 8.1rem 19.7rem;
    width: 100%;

    .image-5-qKB {
      flex-shrink: 0;
      margin: 0rem 1.4rem 6.9rem 0rem;
      width: 3.5rem;
      height: 3.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-ae85-A6Z {
      margin: 2.9rem 8.2rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .syncro-Ved {
        font-family: Poller One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1875;
        color: #ffffff;
      }
      .made-with-lots-of-love-dF3 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #7e8087;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-9miv-xo7 {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 2.4rem 6.9rem 0rem;
      width: 10rem;
      height: 8.7rem;

      .about-us-partnerships-VY9 {
        color: #ffffff;
        width: 10rem;
        height: 8.7rem;
        left: 0;
        top: 0;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.8125;
      }
      .company-DU9 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.2rem;
        height: 1.8rem;
        position: absolute;
        left: 0.3rem;
        color: #7e8087;
        top: 0;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
      }
    }
    .auto-group-tued-vtM {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 7.6rem;
      height: 100%;

      .branding-faq-5FT {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 5.1rem 4.5rem;
        max-width: 7rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.8125;
        color: #ffffff;
      }
      .english-PX3 {
        color: #7e8087;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
      }
    }
    .auto-group-npry-8jX {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 8.5rem;
      height: 100%;
      align-items: flex-end;

      .auto-group-cixm-HMX {
        margin-bottom: 5.1rem;
        width: 7.6rem;
        height: 8.7rem;
        position: relative;
        flex-shrink: 0;

        .facebook-twitter-Dky {
          font-weight: 500;
          line-height: 1.8125;
          width: 7.6rem;
          left: 0;
          top: 0;
          font-size: 1.6rem;
          height: 8.7rem;
          position: absolute;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .socials-kF7 {
          top: 0;
          font-size: 1.2rem;
          color: #787b81;
          height: 1.8rem;
          left: 0;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.1rem;
          position: absolute;
        }
      }
      .terms-of-service-UB7 {
        flex-shrink: 0;
        margin-right: 1.2rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #787b81;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-jer1-1B3 {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 2.9rem;

      .instagram-our-discord-Ywf {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.8125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 3.9rem 5.1rem 0rem;
        max-width: 9.1rem;
      }
      .pricavy-policy-U4d {
        color: #787b81;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
}
